[submodule "public"]
	path = public
	url = git@github.com:osmin625/osmin625.github.io.git
	branch = main
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/osmin625/gokarna.git
