:root {
  --dark-primary-color: 27, 27, 30;
  --dark-secondary-color: #2d333b;
  --dark-tertiary-color: #646464;
  --dark-text-color: rgb(200, 200, 200);
  --dark-accent-color: #ff4d4d;
}

html {
  background-color: rgb(var(--dark-primary-color));
  color: var(--dark-text-color);
  fill: var(--dark-text-color);
}

.header {
  background-color: rgba(var(--dark-primary-color), 0.95);
}

.nav-hamburger-list {
  background: rgba(var(--dark-primary-color), 1);
}

.nav-links .nav-icons-divider {
  color: var(--dark-secondary-color);
}

a:hover {
  color: var(--dark-accent-color);
  fill: var(--dark-accent-color);
}

a:hover .feather-moon {
  fill: white;
  color: white;
}

.social-icons-list .social-icon,
.social-icons-list .social-icon a:visited {
  fill: var(--dark-text-color);
}

.social-icons-list .social-icon a:hover {
  fill: var(--dark-accent-color);
}

.list-categories .list-category:hover {
  background-color: var(--dark-secondary-color);
  color: var(--dark-accent-color);
}

.post-category a:hover {
  background-color: var(--dark-secondary-color);
  color: var(--dark-accent-color);
}

.post-icon {
  color: var(--dark-tertiary-color);
}

.post-icon-text {
  color: var(--dark-tertiary-color);
}

.post-tag a:hover {
  background-color: var(--dark-secondary-color);
  color: var(--dark-accent-color);
}

.list-tags .list-tag:hover {
  background-color: var(--dark-secondary-color);
  color: var(--dark-accent-color);
}

.tags-list .list-tags .list-tag a .tag-posts-count {
  background-color: var(--dark-secondary-color);
}

.tags-list .list-tags .list-tag:hover a .tag-posts-count {
  background-color: var(--dark-secondary-color);
  color: var(--dark-accent-color);
}

.footer {
  border-top-color: var(--dark-header-bg-color);
}

blockquote {
  color: darkgrey;
  border-left-color: var(--dark-secondary-color);
}

hr {
  height: 1px;
  border: 0px solid var(--dark-secondary-color);
  border-top-width: 1px;
}

table thead {
  background-color: var(--dark-secondary-color);
}

table td,
table th {
  border-bottom-color: var(--dark-secondary-color);
}

code,
pre {
  background-color: var(--dark-secondary-color);
}

:not(pre) > code {
  background-color: var(--dark-tertiary-color);
  color: var(--dark-text-color);
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  background-color: rgb(var(--dark-primary-color));
  border: inherit;
  color: var(--dark-text-color);
}

.header-shadow {
  box-shadow: rgb(33, 38, 45) 0px -1px 0px 0px inset;
}

.arrow-logo {
  background-color: var(--dark-secondary-color);
}

.arrow-logo:hover {
  fill: var(--dark-accent-color);
}

#toc ul li a.active {
  color: var(--dark-accent-color);
}

/* TODO: Check if this is needed or not */
/* 
img,
video {
  filter: hue-rotate(180deg) contrast(100%) invert(100%);
  -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
} 
*/
