{{ define "main" }}
<div class="container categories-list">
    <h1 class="list-title">{{ i18n "categories" }}</h1>
    {{if eq (len $.Site.Taxonomies.categories) 0}}
    {{ i18n "nothing" }}
    {{else}}

    <ul class="list-categories">
        {{ range $category, $subLists := $.Site.Data.category_hierarchy }}
        <div class="card-categories">
            <a class="card-category" href="/categories/{{ $category | urlize }}/">
                <div class="category-name">{{ $category }}</div>
                {{ $categoryUrl := $category | urlize }}
                <div class="category-posts-count">
                    {{ index $.Site.Taxonomies.categories $categoryUrl | len}}
                </div>
            </a>
            {{ range $subLists }}
            <li>
                <a class="list-category" href="/categories/{{ . | urlize }}/">
                    {{ $subListUrl := . | urlize }}
                    <div class="category-name">{{ $subListUrl }}</div>
                    <div class="category-posts-count">
                        {{ index $.Site.Taxonomies.categories $subListUrl | len }}
                    </div>
                </a>
            </li>
            {{ end }}
        </div>
        {{ end}}
    </ul>

    {{ end }}

</div>
{{ end }}