{{ define "main" }}
<div class="container categories-list">
    <!-- {{ print $.Site.Taxonomies.categories.ByCount }} -->
    <h1 class="list-title">{{ i18n "categories" }}</h1>
    {{if eq (len $.Site.Taxonomies.categories) 0}}
        {{ i18n "nothing" }}
    {{else}}
    <ul class="post-categories">
        {{ range $.Site.Taxonomies.categories.ByCount }}
        <li class="post-category">
            <a href="/categories/{{ .Name }}/">
                <div class="category-name">{{ .Name | humanize }}</div>
                <div class="category-posts-count">{{ .Count }}</div>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

</div>
{{ end }}
